body {
  background: rgba(241, 181, 201, 0.5);
  margin: 30px;
}
.wrapper {
  width: 1600px;
  height: 1480px;
  background: rgba(255, 255, 255, 0.5);
  margin: auto;
}
header {
  margin-bottom: 0px;
  font-size: 0px;
  padding-top: 20px;
}
.div-main-content {
  width: 1200px;
  height: 1480px;
  background: white;
  margin: auto;
}
.div-FCS-positions {
  float: left;
  padding: 80px 35px 50px 45px;
}
.div-profile-image {
  float: left;
  margin: 0px;
  width: auto;
  height: auto;
}
.header-FCS {
  font-size: 75px;
  line-height: 33px;
  color: #ff6666;
  font-weight: 500;
  font-family: "Poppins";
}
.header-position {
  font-size: 71px;
  line-height: 33px;
  color: #231f20;
  font-weight: 400;
  font-family: "DejaVu Sans";
}
.profile-photo {
  width: 400px;
  height: 400px;
}
.div-header {
  border-bottom: 1.5px solid #393637;
  display: inline-block;
  width: 1200px;
}
.header-goal {
  font-size: 22px;
  line-height: 33px;
  color: #393637;
  font-weight: 400;
  font-family: "Poppins";
}
.header-contact-info {
  font-size: 14px;
  line-height: 33px;
  color: #231f20;
  font-weight: 500;
  font-family: "Poppins";
}
.section-mobile {
  float: left;
  text-align: center;
  margin-right: 60px;
  margin-left: 50px;
}
.section-email {
  float: left;
  text-align: center;
  margin-right: 60px;
}
.section-git {
  float: left;
  text-align: center;
  margin-top: 2px;
}
.div-contact-info {
  width: auto;
  height: auto;
  padding: 10px 250px 125px 150px;
}
.div-contact {
  display: inline-block;
  width: 1200px;
  border-bottom: 1.5px solid #393637;
}
.header-contact-info-data {
  font-size: 20px;
  line-height: 33px;
  color: #393637;
  font-weight: 400;
  font-family: "Poppins";
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #ff6666;
}
.basic-text {
  font-size: 20px;
  line-height: 33px;
  color: #393637;
  font-weight: 400;
  font-family: "Poppins";
}

h3 {
  font-size: 24px;
  line-height: 33px;
  color: #ff6666;
  font-weight: 500;
  font-family: "Poppins";
  border-bottom: 1.5px solid #393637;
  padding: 0px 5px 20px 5px;
  text-align: center;
  width: auto;
}

.div-summary-skills-experience {
  border-bottom: 1.5px solid #393637;
  display: inline-block;
  padding-top: 0px;
  width: 1200px;
  font-size: 0px;
  width: auto;
  height: auto;
  margin-bottom: -10px;
}
.section-summary {
  width: 48.8%;
  float: left;
}
.div-skills-experience {
  width: 48.5%;
  float: left;
  border-left: 1.5px solid #393637;
}
.header-experience {
  border-top: 1.5px solid #393637;
  padding-top: 18px;
  width: 604px;
}
.header-summary {
  padding: 0px 5px 20px 5px;
  width: 590px;
  margin-left: 0px;
}
.header-main {
  width: 604px;
}
.summary-text {
  padding-left: 15px;
  padding-right: 15px;
}
ul {
  padding-left: 45px;
}
.div-education-english {
  border-bottom: 1.8px solid #a8a1a3;
  display: inline-block;
  width: auto;
}
.section-education {
  float: left;
  width: 48.8%;
}
.section-english {
  float: left;
  width: 50%;
  border-left: 1.5px solid #393637;
}
footer {
  background: rgba(255, 255, 255, 0.5);
  width: auto;
  margin: 0px;
  padding: 14px;
  text-align: center;
  font-size: 20px;
  line-height: 33px;
}
